<mat-tab-group mat-align-tabs="start"
               animationDuration="0ms"
               *ngIf="country">
  <mat-tab label="Main">

    <app-country-details-main [country]="country"></app-country-details-main>

  </mat-tab>

  <mat-tab label="Currencies">

    <app-country-details-currencies [country]="country"></app-country-details-currencies>

  </mat-tab>

  <mat-tab label="Languages">

    <app-country-details-languages [country]="country"></app-country-details-languages>

  </mat-tab>
</mat-tab-group>