<div *ngIf="country">
  <div *ngIf="!country.languages"
       class="nodata">
    No languages
  </div>
  <div *ngIf="country.languages"
       class="data">
    <table mat-table
           [dataSource]="country.languages"
           class="mat-elevation-z8">

      <ng-container matColumnDef="iso639_1">
        <th mat-header-cell
            *matHeaderCellDef> Iso639_1 </th>
        <td mat-cell
            *matCellDef="let element"> {{element.iso639_1}} </td>
      </ng-container>

      <ng-container matColumnDef="iso639_2">
        <th mat-header-cell
            *matHeaderCellDef> Iso639_2 </th>
        <td mat-cell
            *matCellDef="let element"> {{element.iso639_2}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Name </th>
        <td mat-cell
            *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="nativeName">
        <th mat-header-cell
            *matHeaderCellDef> Native name </th>
        <td mat-cell
            *matCellDef="let element"> {{element.nativeName}} </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="['iso639_1', 'iso639_2', 'name', 'nativeName']"></tr>
      <tr mat-row
          class="data-item"
          *matRowDef="let row; columns: ['iso639_1', 'iso639_2', 'name', 'nativeName'];"></tr>
    </table>
  </div>
</div>